In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r'/Users/gowthammarrapu/Documents/untitled folder 2/zomato.csv')

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.columns,data.shape

(Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
        'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
        'approx_cost(for two people)', 'reviews_list', 'menu_item',
        'listed_in(type)', 'listed_in(city)'],
       dtype='object'),
 (51717, 17))

In [5]:
data.duplicated().sum(),data.isnull().sum()

(0,
 url                                0
 address                            0
 name                               0
 online_order                       0
 book_table                         0
 rate                            7775
 votes                              0
 phone                           1208
 location                          21
 rest_type                        227
 dish_liked                     28078
 cuisines                          45
 approx_cost(for two people)      346
 reviews_list                       0
 menu_item                          0
 listed_in(type)                    0
 listed_in(city)                    0
 dtype: int64)

In [6]:
data.dropna(subset=['location'] , inplace = True)

In [7]:
data.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7754
votes                              0
phone                           1187
location                           0
rest_type                        206
dish_liked                     28057
cuisines                          24
approx_cost(for two people)      325
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [8]:
df = data.copy()

In [9]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [10]:
df['location'] = df['location'] + ' , Bangalore , Karnataka , India'

In [11]:
df['location']

0             Banashankari , Bangalore , Karnataka , India
1             Banashankari , Bangalore , Karnataka , India
2             Banashankari , Bangalore , Karnataka , India
3             Banashankari , Bangalore , Karnataka , India
4             Basavanagudi , Bangalore , Karnataka , India
                               ...
51712           Whitefield , Bangalore , Karnataka , India
51713           Whitefield , Bangalore , Karnataka , India
51714           Whitefield , Bangalore , Karnataka , India
51715    ITPL Main Road, Whitefield , Bangalore , Karna...
51716    ITPL Main Road, Whitefield , Bangalore , Karna...
Name: location, Length: 51696, dtype: object

In [12]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [13]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [14]:
rest_loc = pd.DataFrame()
rest_loc['Name'] = df['location'].unique()
rest_loc

                                                 Name
0        Banashankari , Bangalore , Karnataka , India
1        Basavanagudi , Bangalore , Karnataka , India
2         Mysore Road , Bangalore , Karnataka , India
3           Jayanagar , Bangalore , Karnataka , India
4   Kumaraswamy Layout , Bangalore , Karnataka , I...
..                                                ...
88     West Bangalore , Bangalore , Karnataka , India
89        Magadi Road , Bangalore , Karnataka , India
90          Yelahanka , Bangalore , Karnataka , India
91     Sahakara Nagar , Bangalore , Karnataka , India
92             Peenya , Bangalore , Karnataka , India

[93 rows x 1 columns]

In [15]:
from geopy.geocoders import Nominatim

In [16]:
geolocator = Nominatim(user_agent="app" , timeout=None)

In [17]:
lat = [] ## define lat list to store all the latitudes
lon = [] ## define lon list to store all the longitudes


for name in rest_loc['Name']:
    location = geolocator.geocode(name)
    
    if location is None:
        lat.append(np.nan)
        lon.append(np.nan)
        
    else:
        lat.append(location.latitude)
        lon.append(location.longitude)
print(lat)

[12.9393328, 12.9417261, 12.9603811, 12.9399039, 12.9067683, 12.9274413, 12.9660722, 12.9055682, 12.9096941, 12.864107149999999, 12.965717999999999, 12.95212575, 12.9527211, 12.9163603, 12.9390426, 12.9089453, 12.985098650000001, 12.848759900000001, 12.90056335, 12.9552572, 12.9240089, 12.9489339, 12.9575547, 12.9348429, 12.9408685, 12.9666654, 12.9364846, 13.0394104, 12.9327778, 12.93103185, 12.9696365, 12.9739905, 12.9604498, 12.9962979, 12.9277245, 12.9986827, 13.0227204, 12.9755264, 12.9721256, 12.9749487, 12.9755105, 12.9778793, 12.9737987, 12.986391, 12.9810146, 12.9757994, 12.9870649, 12.9813526, 12.9822324, 12.9934283, 13.0358698, 12.9624669, 12.9427087, 12.9678074, 12.9829593, 13.0027353, 12.9931876, 13.0093455, 12.9390255, 12.9783547, 12.957998, 12.97339325, 12.9578658, 12.96381425, 12.9876393, 12.9621761, 13.007516, 12.9243692, 12.9282918, 12.9385817, 12.9501192, 13.0005232, 13.0058357, 13.0181973, 13.0422794, 13.0258087, 13.0221416, 13.0236958, 13.0784743, nan, 12.973936, 12.9846713, 13.0382184, 12.9176571, 12.9860822, nan, 12.99118045, 13.02383, 13.0096524, 12.9756527, 13.107915, 13.0621474, 13.0329419]

In [18]:
rest_loc['lat'] = lat
rest_loc['lon'] = lon
rest_loc

                                                 Name        lat        lon
0        Banashankari , Bangalore , Karnataka , India  12.939333  77.553982
1        Basavanagudi , Bangalore , Karnataka , India  12.941726  77.575502
2         Mysore Road , Bangalore , Karnataka , India  12.960381  77.557009
3           Jayanagar , Bangalore , Karnataka , India  12.939904  77.582638
4   Kumaraswamy Layout , Bangalore , Karnataka , I...  12.906768  77.559502
..                                                ...        ...        ...
88     West Bangalore , Bangalore , Karnataka , India  13.009652  77.553054
89        Magadi Road , Bangalore , Karnataka , India  12.975653  77.555355
90          Yelahanka , Bangalore , Karnataka , India  13.107915  77.585524
91     Sahakara Nagar , Bangalore , Karnataka , India  13.062147  77.580061
92             Peenya , Bangalore , Karnataka , India  13.032942  77.527325

[93 rows x 3 columns]

In [19]:
rest_loc.isnull().sum()

Name    0
lat     2
lon     2
dtype: int64

In [20]:
rest_loc['lat'].isnull()

0     False
1     False
2     False
3     False
4     False
      ...
88    False
89    False
90    False
91    False
92    False
Name: lat, Length: 93, dtype: bool

In [21]:
rest_loc[rest_loc['lat'].isnull()]

                                               Name  lat  lon
79  Rammurthy Nagar , Bangalore , Karnataka , India  NaN  NaN
85   Sadashiv Nagar , Bangalore , Karnataka , India  NaN  NaN

In [22]:
import warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [23]:
### for Rammurthy Nagar , Bangalore
### 13.0163° N, 77.6785° E

In [24]:
rest_loc['lat'][79] = 13.0163
rest_loc['lon'][79] = 77.6785

In [25]:
### for Sadashiv Nagar ,
### 13.0068 (Lat) & 77.5813(Lon)

In [26]:
rest_loc['lat'][85] = 13.0068
rest_loc['lon'][85] = 77.5813

In [27]:
rest_loc.isnull().sum()

Name    0
lat     0
lon     0
dtype: int64

In [28]:
geolocator = Nominatim(user_agent="app" , timeout=None )

In [29]:
df['address'][0]

'942, 21st Main Road, 2nd Stage, Banashankari, Bangalore'

In [30]:
loc = geolocator.geocode(df['address'][0])

In [31]:
hasattr(loc , 'latitude')

## hasattr(loc,'latitude')  Return whether the loc has an attribute of latitude or not..

### it means address doesn't have any property as latitude , ie it is unable to find any geo-graphical for address feature..

True

In [32]:
'''now how to find geo-graphical co-ordinates of address feature..For this u have to use structured query ...
For a structured query, provide a dictionary whose keys
    are like: `street`, `city`, `county`, `state`, `country`, or
    `postalcode`'''

'now how to find geo-graphical co-ordinates of address feature..For this u have to use structured query ...\nFor a structured query, provide a dictionary whose keys\n    are like: `street`, `city`, `county`, `state`, `country`, or\n    `postalcode`'

In [33]:
address = {'street':'21st Main Road' , 'city':'Bangalore' , 'country':'India' , 'state':'Karnataka'}

In [34]:
address_geocode = geolocator.geocode(address)

In [35]:
hasattr(address_geocode , 'latitude')

True

In [36]:
hasattr(address_geocode , 'longitude')

True

In [37]:
address_geocode.latitude

13.0041454

In [38]:
address_geocode.longitude

77.5606614

In [39]:
### where are most number of restaurants located in Bengalore

In [40]:
df['location'].value_counts()

BTM , Bangalore , Karnataka , India                      5124
HSR , Bangalore , Karnataka , India                      2523
Koramangala 5th Block , Bangalore , Karnataka , India    2504
JP Nagar , Bangalore , Karnataka , India                 2235
Whitefield , Bangalore , Karnataka , India               2144
                                                         ...
West Bangalore , Bangalore , Karnataka , India              6
Yelahanka , Bangalore , Karnataka , India                   6
Jakkur , Bangalore , Karnataka , India                      3
Rajarajeshwari Nagar , Bangalore , Karnataka , India        2
Peenya , Bangalore , Karnataka , India                      1
Name: location, Length: 93, dtype: int64

In [41]:
type(df['location'].value_counts())

pandas.core.series.Series

In [42]:
Rest_locations = df['location'].value_counts().reset_index()

In [43]:
Rest_locations.rename(columns={'index': 'Name'}, inplace=True)

In [44]:
### Now we can say that These are my locations where most of my restaurants are located..

In [45]:
'''
lets create Heatmap of this results so that it becomes more user-friendly..
now In order to perform Spatial Anlysis(Geographical Analysis) , we need latitudes & longitudes of every location..
'''

'\nlets create Heatmap of this results so that it becomes more user-friendly..\nnow In order to perform Spatial Anlysis(Geographical Analysis) , we need latitudes & longitudes of every location..\n'

In [46]:
rest_loc

                                                 Name        lat        lon
0        Banashankari , Bangalore , Karnataka , India  12.939333  77.553982
1        Basavanagudi , Bangalore , Karnataka , India  12.941726  77.575502
2         Mysore Road , Bangalore , Karnataka , India  12.960381  77.557009
3           Jayanagar , Bangalore , Karnataka , India  12.939904  77.582638
4   Kumaraswamy Layout , Bangalore , Karnataka , I...  12.906768  77.559502
..                                                ...        ...        ...
88     West Bangalore , Bangalore , Karnataka , India  13.009652  77.553054
89        Magadi Road , Bangalore , Karnataka , India  12.975653  77.555355
90          Yelahanka , Bangalore , Karnataka , India  13.107915  77.585524
91     Sahakara Nagar , Bangalore , Karnataka , India  13.062147  77.580061
92             Peenya , Bangalore , Karnataka , India  13.032942  77.527325

[93 rows x 3 columns]

In [47]:
Beng_rest_locations = Rest_locations.merge(rest_loc , on="Name")

In [48]:
type(Beng_rest_locations)

pandas.core.frame.DataFrame

In [51]:
Beng_rest_locations.head(5)

,Name,count,lat,lon
0,"BTM , Bangalore , Karnataka , India",5124,12.916360,77.604733
1,"HSR , Bangalore , Karnataka , India",2523,12.900563,77.649475
2,"Koramangala 5th Block , Bangalore , Karnataka ...",2504,12.934843,77.618977
3,"JP Nagar , Bangalore , Karnataka , India",2235,12.909694,77.586607
4,"Whitefield , Bangalore , Karnataka , India",2144,12.969637,77.749745

In [50]:
Beng_rest_locations.rename(columns={'location': 'count'}, inplace=True)

In [52]:
import folium

In [53]:
def Generate_basemap():
    basemap = folium.Map(location=[12.97 , 77.59])
    return basemap

In [54]:
basemap = Generate_basemap()

In [55]:
basemap

In [56]:
from folium.plugins import HeatMap

In [58]:
Beng_rest_locations.columns

Index(['Name', 'count', 'lat', 'lon'], dtype='object')

In [59]:
Beng_rest_locations[['lat', 'lon' , 'count']]

          lat        lon  count
0   12.916360  77.604733   5124
1   12.900563  77.649475   2523
2   12.934843  77.618977   2504
3   12.909694  77.586607   2235
4   12.969637  77.749745   2144
..        ...        ...    ...
88  13.009652  77.553054      6
89  13.107915  77.585524      6
90  13.078474  77.606894      3
91  12.927441  77.515522      2
92  13.032942  77.527325      1

[93 rows x 3 columns]

In [60]:
HeatMap(Beng_rest_locations[['lat', 'lon' , 'count']]).add_to(basemap)

In [62]:
basemap